
</head>
<body class="bg-dark">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-4 fs-1" href="/">VNL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active mx-4" aria-current="page" href="/">Home</a>
          </li>
          <% if (user) { %> 
          <li class="nav-item">
            <a class="nav-link mx-4" href="/records">All Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" href="/records/new">Add Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" href="/profiles/<%= user.profile._id %>">Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" href="/profiles">All Profiles</a>
          </li>
          <% } %> 
        </ul>
        
        <form action="/records/search" method="POST" class="d-flex mx-4">
          <select name="searchParam">
            <option value="artist">Artist</option>
            <option value="title">Album</option>
            <option value="label">Label</option>
          </select>
          <input name="searchContent" class="form-control me-2" id="searchinput" type="search" placeholder="Search" aria-label="Search">
          
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>

        <% if (user) { %>
          <a href="/auth/logout">
            <button type="submit" class="btn btn-outline-light mx-4 mb-1">Logout</button>
          </a>
        <% } else { %>
          <a href="/auth/google" class="siwg-link">
            <button type="submit" class="siwg btn btn-outline-light mx-4 mb-1">Sign-in
            </button>
          </a>
        <% } %>

      </div>
    </div>
  </nav>
  <div class="">
    <img src="/images/slimmerrec.jpeg" class="img-fluid" id="prime" alt="VNL">
  </div>