<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="">
    <img src="/images/slimrec.jpeg" class="img-fluid" id="prime" alt="VNL">
  </div>
</main>

<%- include('./partials/footer') %>
